h1,body, html, main {
    margin: 0px 3% 1em;
  }

  html {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px
  }

  h1 {
    font-size: 100px;
    color: white;
    position: absolute;
    top: 55%;
    bottom: 50%;
    right: 25%;
    left: 35%;
  }

  .imgFondo {
    background-image:url(/apple-pie/images/apple-pie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 1000px;
    object-fit: cover;
    object-position: bottom;
  }

  .contenedor1 img {
    display: flex;
    position:relative;
    height: 100px;
    display:block;
    margin:auto;
    
  }

  .contenedor2 img {
    display: flex;
    position:relative;
    height: 120px;
    display:block;
    margin:auto;
  }



